{% extends "skis/layout.html" %}

{% block main %}
<h1>Contact Us</h1>

<div class="container p-4">This website is developed as a way of storing the statistics of your skis. 
    It works as a tool to help you keep track of your skis, and determine which skis is the best for 
    the current conditions. 
    <br>
    <br>
    If you have any questions or concernes, please feel free to reach out!</div>
<div class="container p-2" ><strong>Email: </strong>tuvag@live.no</div>
<div class="container p-2"> <strong>Phone number: </strong>907 903-2402</div>

{% endblock %}