{% extends "skis/layout.html" %} 
{% load static %}
{% block main %}
{% if user.is_authenticated %}
<h1>{{ banner }}</h1>

<!-- <form method="GET">
<div class="input-group p-4">
    <input type="text" ski_number="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-addon" value='{{ request.GET.q }}'>
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button"> Search</i></button>
    </span>
  </div> 
</form> -->

<form method='GET'>
  <input type='text' ski_number='q' value='{{ request.GET.q }}'>
  <input class="button" type='submit' value="Search">
</form>

{% for s in skis %}
<div class="card m-4" onclick="location.href='{% url "ski-details" s.id %}'">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-1">
        <div style="width: 30px; height: 30px; border-radius: 8px; background-color:{{s.color_tag}}"></div> 
      </div>
      <div class="col-sm-8">
        <h5><strong>Ski number: </strong> {{ s.ski_number }} <br></h5>
        <strong>Techniue : </strong> {{ s.technique }} <br>
        <strong>Grind: </strong> {{ s.grind }} <br>
        <strong>Brand: </strong> {{ s.brand }} <br>
        <strong>Notes: </strong> {{ s.notes }} <br>
      </div>
      {% if s.img %}
      <div class="col-sm-3">
        <img src="{{ s.img.url }}" class="card-img-top">
      </div>  
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
{% else %}
<h1>Make a home for your Ski Fleet!!</h1>
<p>Sign up to add skis and ski tests!</p>

    <a class="nav-link" href="{% url 'login' %}">Log In</a>
    <a class="nav-link" href="{% url 'register' %}">Register</a>

  <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.vg.no%2Fforbruker%2Freise%2Fi%2FgPdW4k%2Fnorges-beste-langrennssted&psig=AOvVaw03A8tiJHhNQC9ALWoWu71h&ust=1670381000742000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCPDynqr84_sCFQAAAAAdAAAAABAD">
  {% endif %}

{% endblock %}
