{% extends "skis/layout.html" %} 
{% load static %}
{% block main %}
{% if user.is_authenticated %}
<div class="p-3 text-center">
  <h1 class="mb-3">Your Ski Fleet</h1>
</div>
<!-- <form method="GET">
<div class="input-group p-4">
    <input type="text" ski_number="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-addon" value='{{ request.GET.q }}'>
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button"> Search</i></button>
    </span>
  </div> 
</form> -->

<form class="form-control" action="" method="GET">
  {{ form }}
  <button class="btn btn-primary" type="submit">Search</button>
  </fieldset>
</form>

{% for s in skis %}
<div class="card m-4" onclick="location.href='{% url "ski-details" s.id %}'">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-1">
        <div style="width: 30px; height: 30px; border-radius: 8px; background-color:{{s.color_tag}}"></div> 
      </div>
      <div class="col-sm-8">
        <h5><strong>Ski number: </strong> {{ s.ski_number }} <br></h5>
        <strong>Techniue : </strong> {{ s.technique }} <br>
        <strong>Grind: </strong> {{ s.grind }} <br>
        <strong>Brand: </strong> {{ s.brand }} <br>
        <strong>Notes: </strong> {{ s.notes }} <br>
      </div>
      {% if s.img %}
      <div class="col-sm-3">
        <img src="{{ s.img.url }}" class="card-img-top">
      </div>  
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
{% else %}

<div class="container">
  <div class="card">
  <div class="card-img opacity-25 ">
    <img src={% static 'skiing3.jpeg' %}>
  </div>
  <div class="card-body card-img-overlay text-center mt-5 pt-5">
  <h1>Make a home for your Ski Fleet!!</h1>
  <p>Sign up to add skis and ski tests</p>
  
  
      <a class="nav-link" href="{% url 'login' %}"><h3>Log In</h3></a>
      <a class="nav-link" href="{% url 'register' %}"> <h3>Register</h3></a>
</div>
</div>
</div>
  
{% endif %}

{% endblock %}
