{% extends "skis/layout.html" %} 
{% load static %}
{% block main %}
<h1>{{ banner }}</h1>


<div class="input-group p-4">
  <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-addon">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="button"> Search</i></button>
  </span>
</div> 

  <form class="form-inline" action="" method="GET">
    {{ form }}
    <button class="btn" type="submit">Search</button>
    </fieldset>
  </form>

{% for s in setting %}
<div class="card m-4" onclick="location.href='{% url "setting-details" s.id %}'">
  <div class="card-body m-3">
    <h5><strong>Date: </strong> {{ s.date }} <br></h5>
    <strong>Temprature : </strong> {{ s.temprature }} ℃<br> 
    <strong>Humidity: </strong> {{ s.humidity}} % <br> 
    <strong>Location: </strong> {{ s.location }} <br>
    <strong>Snow Type: </strong> {{ s.snow_type }} <br>
    <strong>Notes: </strong> {{ s.notes }} <br>
    <strong>Skis: </strong> <br>
  </div>
</div>
{% endfor %}

{% endblock %}