{% extends "skis/layout.html" %} 
{% load static %}
{% block main %}
<div class="p-3 text-center">
  <h1 class="mb-3">Ski Tests</h1>
</div>
<div class="div" id="setting_details">
  <form class="form-control" action="" method="GET">
    {{ form }}
    <button class="btn btn-primary" type="submit">Search</button>
    </fieldset>
  </form>

{% for s in setting %}

<div class="card m-4" onclick="location.href='{% url "setting-details" s.id %}'">
  <div class="card-header p-4">
    <h3><strong>Date: </strong> {{ s.date }}</h3>
</div>
  <div class="card-body m-3">
    <strong>Temprature : </strong> {{ s.temprature }} ℃<br> 
    <strong>Humidity: </strong> {{ s.humidity}} % <br> 
    <strong>Location: </strong> {{ s.location }} <br>
    <strong>Snow Type: </strong> {{ s.snow_type }} <br>
    <strong>Notes: </strong> {{ s.notes }} <br>
    {% for ski in s.skis.all %}
    <strong>Skis: </strong> {{ ski.ski_number }}<br>
    <strong>Rank: </strong> {{ ski.rank }}<br>
    {% endfor %}
  </div>
</div>
{% endfor %}
</div>

{% endblock %}